*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-color: rgb(170, 116, 50);
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main i {
    font-size: 9rem;
}